@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Extended+Text&display=swap');

header {
    background-color: #7AB32B;
    width: 100vw;
    box-shadow: 0px 5px 4px rgb(65, 64, 66);
}

.inicio {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    font-family: 'Libre Barcode 39 Extended Text', cursive;
}

.logo h1 {
    font-family: 'Libre Barcode 39 Extended Text', cursive;
}

a {
    text-decoration: none;
    /* Remove o sublinhado */
    color: #000;
}

a:hover {
    text-decoration: none;
    /* Remove o sublinhado */
    color: #000;
    /* Define a cor do texto para preto, ou a cor desejada */
}

a:visited {
    text-decoration: none;
    /* Remove o sublinhado */
    color: #000;
    /* Define a cor do texto para preto, ou a cor desejada */
}

.outro i {
    width: 40%;
}

header h1 {
    font-family: "jersey-15-regular";
    color: rgb(0, 0, 0);
}


.pesquisa button {
    height: 28px;
    background-color: rgb(0, 0, 0);
}

.pesquisa button {
    color: #d5f5c8;
}

.carousel img {
    width: 30%;
}

.login a {
    color: aliceblue
}


.categorias {
    display: flex;
    justify-content: space-evenly;
}

main img {
    height: 200px;
}

main {
    height: 1000px;
    background-color: #d5f5c8;
}

form input {
    border-radius: 5px;
    border: none;
}

form button {
    border-radius: 5px;
}


body {
    height: 100px;
}

main {
    height: 100vh;
    width: 100vw;
    background-color: #d5f5c8;
}

.areaCarrinho {
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 70vh;
    width: 67vw;
    border-radius: 5px;
}

.carrinho {
    display: flex;
    justify-content: flex-start;
}
.carrinho .excluir button{
    display: flex;
     justify-content: flex-end;
}
.finalizarArea{
    background-color: #ffffff;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 6vh;
    width: 67vw;
    border-radius: 5px;
}
.finalizarArea .area{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.finalizarArea .area button{
    background-color: #7AB32B;
    border: none;
    border-radius: 10deg;
    color:#ffffff;
}
footer {
    width: 100vw;
    text-align: center;
    background-color: #7AB32B;
}