@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Extended+Text&display=swap');

header {
    background-color: #7AB32B;
    width: 100vw;
    box-shadow: 0px 5px 4px rgb(65, 64, 66);
}
.inicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo{
    font-family: 'Libre Barcode 39 Extended Text', cursive;
}
.logo h1{
    font-family: 'Libre Barcode 39 Extended Text', cursive;
}

a {
    text-decoration: none; /* Remove o sublinhado */
    color: #000;
}
a:hover {
    text-decoration: none; /* Remove o sublinhado */
    color: #000; /* Define a cor do texto para preto, ou a cor desejada */
}
a:visited {
    text-decoration: none; /* Remove o sublinhado */
    color: #000; /* Define a cor do texto para preto, ou a cor desejada */
}

.outro i{
    width: 40%;
}

header h1 {
    font-family: "jersey-15-regular";
    color: rgb(0, 0, 0);
}


.pesquisa button {
    height: 28px;
    background-color: rgb(0, 0, 0);
}
.pesquisa button {
    color: #d5f5c8;
}

.carousel img {
    width: 30%;
}

.login a {
    color: aliceblue
}


.categorias {
    display: flex;
    justify-content: space-evenly;
}

main img {
    height: 200px;
}

main {
    height: 1000px;
    background-color: #d5f5c8;
}
form input {
    border-radius: 5px;
   border: none;
}
form button{
    border-radius: 5px;  
}

body {
    height: 100px;
   
}

.carrosel img {
    height: 20vh;
    width: 100%;
}

.produtos {
    display: flex;
}

h2 {
    text-align: center;
}

.produtos {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    gap: 20px;
    justify-content: center;
    height: auto;
    padding: 30px 0;
    justify-items: start;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    border-color: black;
    align-items: center;
}
.card .card-text {
   text-align: center;
}
.card a {
   align-items: center;
    color: rgb(0, 0, 0);
    background-color: #019A07;
    border-radius: 15px;
    border: transparent;
}

footer {
    text-align: center;
    background-color: #7AB32B;
}