<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>controller.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cadastroController</servlet-name>
        <servlet-class>controller.cadastroController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>voltarloginController</servlet-name>
        <servlet-class>controller.voltarloginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admController</servlet-name>
        <servlet-class>controller.admController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>produtosController</servlet-name>
        <servlet-class>controller.produtosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>carrinhoController</servlet-name>
        <servlet-class>controller.carrinhoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkoutController</servlet-name>
        <servlet-class>controller.checkoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pedidosControler</servlet-name>
        <servlet-class>controller.pedidosControler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/logar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cadastroController</servlet-name>
        <url-pattern>/cadastro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>voltarloginController</servlet-name>
        <url-pattern>/voltarlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admController</servlet-name>
        <url-pattern>/telaADM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>produtosController</servlet-name>
        <url-pattern>/cadastrar-produto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>produtosController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>produtosController</servlet-name>
        <url-pattern>/cadastrarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>produtosController</servlet-name>
        <url-pattern>/buscar-produtos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>produtosController</servlet-name>
        <url-pattern>/ver-produto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>produtosController</servlet-name>
        <url-pattern>/enviar-carr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>carrinhoController</servlet-name>
        <url-pattern>/carrinho</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkoutController</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
</web-app>
